@font-face {
    font-family: "ZX Spectrum";
    src: url("assets/fonts/zx_spectrum-7.ttf");
}

body {
    font-family: "ZX Spectrum", serif;
    color: white;
    text-shadow: 0 0 10px #fff;
}

html {
    body {
        min-height: 100vh;

        &,
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            // font-family: monospace;
            // border: dashed 1px red;
        }
    }
}

html {
    body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bitmaker {
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            gap: 50px;
            border-radius: 10px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);

            // background-color: #343c47;
            background-image: linear-gradient(150deg, #343c47, #1e212b);
            // background-image: linear-gradient(150deg, #343c47, red);

            -webkit-box-shadow: 15px 15px 15px 0px rgba(212, 212, 212, 1);
            -moz-box-shadow: 15px 15px 15px 0px rgba(212, 212, 212, 1);
            box-shadow: 15px 15px 15px 0px rgb(156, 156, 156);


            .upper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;

                    .titi {
                        width: 100%;
                        // height: 320p x;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border: solid rgba(255, 255, 255, 0.25) 3px;
                    border-radius: 5px;
                    border: rgb(0, 255, 76) solid 3px;
                                box-shadow: 0px 0px 5px rgb(0, 255, 76), 0px 0px 5px rgb(0, 255, 76) inset;
                                
                        
                        h1 {
                            text-shadow: none;
                            color: rgba(255, 255, 255, 0.25);
                            font-size: 30px;
                            // font-family: monospace;
                            text-transform: lowercase;
                            color: rgb(0, 255, 76);
                                text-shadow: 0 0 10px rgb(0, 255, 76);
                        }
                    }

                    .display-screen {
                        width: 300px;
                        height: 180px;
                        background-color: #020405;
                        background-image: linear-gradient(150deg, #080e11, #020405);

                        display: flex;
                        flex-direction: column;
                        padding: 10px;

                        .upper {
                            border-bottom: solid 2px white;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding: 10px;
                        }

                        .main {
                            padding: 10px;

                            .session {}
                        }
                    }

                    .macros {
                        // border-radius: 150px;
                        // // background: #183f2b;
                        // // box-shadow: 5px 5px 10px #0a1911,
                        // //     -5px -5px 10px #266545;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;

                        .macro {
                            border-radius: 150px;
                            background: #2f3640;
                            box-shadow: 5px 5px 10px #13161a,
                                -5px -5px 10px #4b5666;

                            width: 50px;
                            height: 50px;

                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            // color: rgb(0, 255, 76);
                            // text-shadow: 0 0 10px rgb(0, 255, 76);
                            // text-shadow: none;
                            // gap: 30px;

                            &.macro-on {
                                color: rgb(0, 255, 76);
                                text-shadow: 0 0 10px rgb(0, 255, 76);
                            }

                            &.macro-off {
                                color: rgba(0, 255, 76, 0.3) !important;
                                text-shadow: none !important;
                            }

                            &.macro-4 {
                                // i {
                                //     color: rgba(0, 255, 76, 0.3) !important;
                                //     text-shadow: none !important;
                                // }
                            }

                        }
                    }
                }

                .sequencer {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    .sample {
                        // width: 600px;
                        // height: 50px;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        p {
                            text-shadow: none;
                            color: grey;
                            display: none;
                        }

                        .sound {
                            width: 50px;
                            height: 50px;

                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            text-align: center;

                            border-radius: 5px;
                            background: linear-gradient(145deg, #2d333e, #262b34);
                            box-shadow: 5px 5px 10px #111317,
                                -5px -5px 10px #434d5d;

                            // background-image: linear-gradient(150deg, #080e11, #020405);

                            text-transform: uppercase;

                            // border-radius: 50px;
                            // background: #32855a;
                            // box-shadow:  20px 20px 60px rgba(20, 54, 37, 1),
                            //              -20px -20px 60px rgba(28, 72, 49,);

                            &.sound-off {
                                color: rgba(255, 255, 255, 0.25) !important;
                                text-shadow: none;
                            }

                            &.sound-on {
                                color: white;
                                text-shadow: 0 0 10px #fff;
                            }
                        }

                        .sequences {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;

                            .seq {
                                width: 30px;
                                height: 30px;
                                border-radius: 5px;
                                background: linear-gradient(145deg, #303742, #292e38);
                                box-shadow: 5px 5px 6px #20242c,
                                    -5px -5px 6px #3a4250;

                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;

                                &.seq-off {
                                    color: rgba(255, 255, 255, 0.25) !important;
                                    text-shadow: none;
                                }
    
                                &.seq-on {
                                    color: white;
                                    text-shadow: 0 0 10px #fff;
                                }
                            }
                        }
                    }

                    .column {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                    }

                    .column-1 {
                        border-right: rgba(255, 255, 255, 0.1) solid 2px;
                        padding-right: 20px;
                    }
                }
            }

            .lower {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                gap: 20px;

                .pads {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .pad {
                        width: 150px;
                        height: 150px;
                        padding: 10px;

                        border-radius: 13px;
                        background: #2b313e;
                        box-shadow: 5px 5px 10px #111419,
                            -5px -5px 10px #454e63;

                        border-radius: 12px;
                        background: linear-gradient(145deg, #1a432e, #163927);
                        box-shadow: 5px 5px 5px #102a1d,
                            -5px -5px 5px #205439;

                        border-radius: 12px;
                        background: linear-gradient(145deg, #2d333e, #262b34);
                        box-shadow: 5px 5px 5px #1c2027,
                            -5px -5px 5px #38404d;

                        &.pad-off {
                            .info {
                                border: rgba(255, 255, 255, 0.25) solid 3px;
                                width: 100%;
                                color: rgba(255, 255, 255, 0.25);
                                text-shadow: none;
                            }
                        }

                        &.pad-on {
                            .info {
                                // border: rgba(255, 255, 255, 0.25) solid 3px;
                                // width: 100%;
                                // color: rgba(255, 255, 255, 0.25);
                                // text-shadow: none;
                                border: rgba(255, 255, 255, 1) solid 3px;
                                box-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 0px 0px 5px rgba(255, 255, 255, 1) inset;
                            }
                        }

                        &.pad-seq {
                            .info {
                                // border: rgba(255, 255, 255, 0.25) solid 3px;
                                // width: 100%;
                                // color: rgba(255, 255, 255, 0.25);
                                // text-shadow: none;
                                border: rgb(0, 255, 76) solid 3px;
                                box-shadow: 0px 0px 5px rgb(0, 255, 76), 0px 0px 5px rgb(0, 255, 76) inset;
                                color: rgb(0, 255, 76);
                                text-shadow: 0 0 10px rgb(0, 255, 76);
                            }
                        }

                        .info {
                            border-radius: 12px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;

                            .key {
                                font-size: 50px;
                            }

                            .sample {
                                text-transform: uppercase;
                                display: none;
                            }
                        }
                    }

                    .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                    }

                }
                
                .titi {
                    width: 100%;
                    // height: 320p x;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                align-items: center;
                justify-content: center;
                border: solid rgba(255, 255, 255, 0.25) 3px;
                border-radius: 5px;
                    
                    h1 {
                        text-shadow: none;
                        color: rgba(255, 255, 255, 0.25);
                        font-size: 50px;
                        // font-family: monospace;
                        text-transform: lowercase;
                    }
                }
            }
        }
    }
}